---
layout: default
---
<style>
  .site-header {
    position: static;
    height: 450px;
    border-top: 0;
  }
  .waves {
    position: absolute;
    top: 56px;
  }
</style>

<div class="home">
  
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      </li>
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.total_pages > 6 %}
        <a href="/">首页</a> 
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous">上一页</a>
        {% else %}
          <span class="previous">上一页</span>
        {% endif %}

        {% for count in (1..paginator.total_pages) limit:8 %} 
          {% if count == paginator.page %} 
            <span class="current-page">{{count}}</span> 
          {% else if count == 1 %} 
            <a href="/">{{count}}</a> 
          {% else %}
            <a href="/page{{count}}">{{count}}</a> 
          }
          {% endif %} 
        {% endfor %} 
        
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next">下一页</a>
        {% else %}
          <span class="next ">下一页</span>
        {% endif %}
        <a href="/page{{paginator.total_pages}}">末页</a> 
        <span class="page_number">共{{paginator.total_pages}}页</span>
      {% endif %}
    </div>
  </ul>

</div>

<script src="{{ "/js/three/three.min.js" }}"></script>
<script src="{{ "/js/three/Projector.js" }}"></script>
<script src="{{ "/js/three/CanvasRenderer.js" }}"></script>
<script>
var SEPARATION = 100, AMOUNTX = 50, AMOUNTY = 50;

var container, stats;
var camera, scene, renderer;

var particles, particle, count = 0;

var mouseX = 0, mouseY = 0;

var windowHalfX = window.innerWidth / 2;
var windowHalfY = 400;

init();
animate();

function init() {
  container = document.createElement( 'div' );
  document.body.appendChild( container );
  container.className = 'waves';
  camera = new THREE.PerspectiveCamera( 75, window.innerWidth / 800, 1, 10000 );
  camera.position.z = 1000;
  scene = new THREE.Scene();
  particles = new Array();

  var PI2 = Math.PI * 2;
  var material = new THREE.SpriteCanvasMaterial( {
    color: 0xffffff,
    program: function ( context ) {
      context.beginPath();
      context.arc( 0, 0, 0.5, 0, PI2, true );
      context.fill();
    }
  } );

  var i = 0;
  for ( var ix = 0; ix < AMOUNTX; ix ++ ) {
    for ( var iy = 0; iy < AMOUNTY; iy ++ ) {
      particle = particles[ i ++ ] = new THREE.Sprite( material );
      particle.position.x = ix * SEPARATION - ( ( AMOUNTX * SEPARATION ) / 2 );
      particle.position.z = iy * SEPARATION - ( ( AMOUNTY * SEPARATION ) / 2 );
      scene.add( particle );
    }
  }

  renderer = new THREE.CanvasRenderer();
  renderer.setSize( window.innerWidth, 400 );
  container.appendChild( renderer.domElement );

  document.addEventListener( 'mousemove', onDocumentMouseMove, false );
  document.addEventListener( 'touchstart', onDocumentTouchStart, false );
  document.addEventListener( 'touchmove', onDocumentTouchMove, false );
  window.addEventListener( 'resize', onWindowResize, false );
}

function onWindowResize() {
  windowHalfX = window.innerWidth / 2;
  camera.aspect = window.innerWidth / 800;
  camera.updateProjectionMatrix();
  renderer.setSize( window.innerWidth, 400 );
}

function onDocumentMouseMove( event ) {
  mouseX = event.clientX - windowHalfX;
  mouseY = event.clientY - windowHalfY;
}

function onDocumentTouchStart( event ) {
  if ( event.touches.length === 1 ) {
    event.preventDefault();
    mouseX = event.touches[ 0 ].pageX - windowHalfX;
    mouseY = event.touches[ 0 ].pageY - windowHalfY;
  }
}

function onDocumentTouchMove( event ) {
  if ( event.touches.length === 1 ) {
    event.preventDefault();
    mouseX = event.touches[ 0 ].pageX - windowHalfX;
    mouseY = event.touches[ 0 ].pageY - windowHalfY;
  }
}

function animate() {
  requestAnimationFrame( animate );
  render();
}

function render() {
  camera.position.x += ( mouseX - camera.position.x ) * .05;
  camera.position.y += ( - mouseY - camera.position.y ) * .05;
  camera.lookAt( scene.position );
  var i = 0;
  for ( var ix = 0; ix < AMOUNTX; ix ++ ) {
    for ( var iy = 0; iy < AMOUNTY; iy ++ ) {
      particle = particles[ i++ ];
      particle.position.y = ( Math.sin( ( ix + count ) * 0.3 ) * 50 ) +
        ( Math.sin( ( iy + count ) * 0.5 ) * 50 );
      particle.scale.x = particle.scale.y = ( Math.sin( ( ix + count ) * 0.3 ) + 1 ) * 4 +
        ( Math.sin( ( iy + count ) * 0.5 ) + 1 ) * 4;
    }
  }
  renderer.render( scene, camera );
  count += 0.1;
}
</script>